.pd-st-section{
    position: relative;
    min-height: 250vh;
}

.pd-s-t-box{
    width: 100px;
    height: 100px;
    background: #47b0dd;
    position: absolute;
    top: 30%;
    left: 0;
    opacity: 0;
}