* {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: 'Mochiy Pop One', sans-serif; */
    font-weight: 700;
}

p,
a,
div {
    font-family: 'Open Sans', sans-serif;
}

body {
    overflow: hidden;
}

.pd-of-visible {
    overflow-y: visible;
}

.slider {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}

.bgGradiant {
    /* background: linear-gradient(60deg, #C6FFDD, #FBD786, #f7797d); */
    /* background: #e4e4e4; */
    background: #e4e4e45e;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    width: 100%;
}

.banner-image {
    height: 80%;
    width: 100%;
    object-fit: contain;
    position: relative;
}

.slider h2.bannerTitle {
    position: absolute;
    color: #f4efeb;
    font-weight: 700;
    font-size: 90px;
}

.pd-padd {
    padding: 5% 0;
}

.card {
    width: 100% !important;
    margin: 15px 0;
}

.pd-sec-2 {
    position: relative;
    overflow: hidden;
}

.pd-sec-2 .container {
    position: relative;
}

.pd-sec-2 .row {
    min-height: 90vh;
}

.pd-shadow-bl {
    position: absolute;
    width: 361px;
    height: 61px;
    background: #f2f2f2;
    border-radius: 100%;
    z-index: -1;
    bottom: -19%;
    right: 26%;
    transform: skewX(55deg);
}

.pd-zoom-bl {
    position: absolute;
    width: 89px;
    height: 2px;
    background: #cdcdcd8c;
    border-radius: 100%;
    z-index: -1;
    top: 70%;
    left: -50%;
}

.pd-s-t-img .pd-st-img-ip {
    width: 100%;
    position: relative;
    transform: translateX(150%);
}

.pd-s-t-img {
    position: relative;
}

.pd-shadow-img {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background: #b7b7b7e3;
    right: 50%;
    transform: skew(304deg, 17deg) translateX(150%);
    border-radius: 100%;
    filter: blur(9px);
    bottom: -12%;
    opacity: 0;
}

.pd-main-hg {
    margin-bottom: 1.5rem;
    font-size: 48px;
    line-height: 1.0834933333;
    font-weight: 600;
    letter-spacing: -0.003em;
}

.pd-sec-2 p.subtitle {
    font-size: 1.3rem;
    font-weight: 100;
    margin-top: 0;
    line-height: 2.2rem;
}

/* section 3 */

.pd-sec-3 {
    min-height: 90vh;
    position: relative;
    overflow: hidden;
    padding-bottom: 0;
}

.gry-zm-bl {
    /* position: absolute;
    width: 89px;
    height: 89px;
    background: #cdcdcd8c;
    border-radius: 100%;
    z-index: -1;
    bottom: 0%;
    left: 50%;  */

    position: absolute;
    width: 100%;
    height: 126%;
    background: #cdcdcd8c;
    border-radius: 100%;
    z-index: -1;
    bottom: -75%;
    left: 0%;
    transform: scale(0);
}

.pd-s-3-img-left {
    width: 35%;
    margin: auto;
    display: inline-block;
    margin-top: 3rem;
    position: relative;
    transform: translateX(-120%);
}

.pd-s-3-img-right {
    width: 37.73%;
    margin: auto;
    display: inline-block;
    margin-top: 3rem;
    position: relative;
    transform: translateX(120%);
}

/* section 4 */
.pd-sec-4 {
    position: relative;
    overflow: hidden;

}

.pd-sec-4 .mh-row-90 {
    min-height: 90vh;
}

.s4-dark-bg {
    background: #000;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 0;
    transform: scaleY(0);
    transform-origin: top center;
    opacity: 0;
}

.ipd-4 {
    transform: translateX(50%);
    opacity: 0;
    margin: 0 15px;
}


.ipd-3 {
    transform: translateX(50%);
    opacity: 0;
    margin: 0 15px;
}


.ipd-2 {
    transform: translateX(50%);
    opacity: 0;
    margin: 0 15px;
}


.ipd-1 {
    transform: translateX(50%);
    opacity: 0;
    margin: 0 15px;
}


.ipd-main {
    /* transform: translateX(50%);
    opacity: 0; */
    margin-bottom: -155px;
    margin-left: 25px;
}