* {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: 'Mochiy Pop One', sans-serif; */
    font-weight: 700;
}

p,a,div{
    font-family: 'Open Sans', sans-serif;
}

body {
    overflow: hidden;
}

.pd-of-visible {
    overflow-y: visible;
}

.slider {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}

.bgGradiant {
    /* background: linear-gradient(60deg, #C6FFDD, #FBD786, #f7797d); */
    /* background: #e4e4e4; */
    background: #e4e4e45e;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    width: 100%;
}

.banner-image {
    height: 80%;
    width: 100%;
    object-fit: contain;
    position: relative;
}

.slider h2.bannerTitle {
    position: absolute;
    color: #f4efeb;
    font-weight: 700;
    font-size: 90px;
}

.pd-padd {
    padding: 5% 0;
}

.card {
    width: 100% !important;
    margin: 15px 0;
}

.pd-sec-2{
    position: relative;
    overflow: hidden;
}

.pd-sec-2 .container{
    position: relative;
}

.pd-sec-2 .row{
    min-height: 90vh;
}

.pd-shadow-bl{
    position: absolute;
    width: 361px;
    height: 61px;
    background: #f2f2f2;
    border-radius: 100%;
    z-index: -1;
    top: 76%;
    right: 20%;
    transform: skewX(55deg);
}

.pd-zoom-bl{
    position: absolute;
    width: 89px;
    height: 2px;
    background: #cdcdcd8c;
    border-radius: 100%;
    z-index: -1;
    top: 70%;
    left: -50%;
}

.pd-s-t-img img{
    width: 100%;
    position: relative;
    right: -110%;
}

.pd-s-t-img{
    position: relative;
}

.pd-shadow-img{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background: #b7b7b76e;
    right: 0%;
    transform: skew(304deg, 17deg);
    border-radius: 100%;
    filter: blur(8px);
    bottom: -17%;
    opacity: 0;
}

.pd-main-hg{
    margin-bottom: 1.5rem;
    font-size: 48px;
    line-height: 1.0834933333;
    font-weight: 600;
    letter-spacing: -0.003em;
}

.pd-sec-2 p.subtitle{
    font-size: 1.3rem;
    font-weight: 100;
    margin-top: 0;
    line-height: 2.2rem;
}

/* section 3 */

.pd-sec-3{
    min-height: 90vh;
}